{{ header }}
<div class="wrapper inner">
  <div id="product-category" class="cat container content box">
    <ul class="cat__breadcrumb breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li>
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      </li>
      {% endfor %}
    </ul>
    <h1 class="cat__title">{{ heading_title }}</h1>

    <div class="cat__wrapper">
      <div id="content">
        <div class="cat-menu">
          <div class="cat-menu__cont" id="menu">
            {{ content_top }}
            {% if categories %}
            <span class="cat-list__title">Категории</span>
            <ul class="cat-list">
              {% if categories|length <= 5 %}
              {% for category in categories %}
              <li class="cat-list__item">
                <a class="cat-list__link" href="{{ category.href }}">{{ category.name }}</a>
              </li>
              {% endfor %}
              {% else %}
              {% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
              {% for child in category %}
              <li class="cat-list__item">
                <a class="cat-list__link" href="{{ child.href }}">
                  <img class="cat-list__img" src="{{ child.thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}">
                  <span>{{ child.name }}</span>
                </a>
              </li>
              {% endfor %}
              {% endfor %}
              {% endif %}
              {% endif %}
            </ul>
          </div>
          <div class="cat-menu__cont">
            <span class="cat-list__title">Бренды</span>
            <ul class="cat-list cat-list--top">
              <li class="cat-list__item">
                <a class="cat-list__link" href="">
                  <input id="brand-1" type="checkbox" name="Bartollino" value="Bartollino">
                  <label for="brand-1">Bartollino</label>
                </a>
              </li>
              <li class="cat-list__item">
                <a class="cat-list__link" href="">
                  <input id="brand-2" type="checkbox" name="Navigation Caravel">
                  <label for="brand-2">Navigation Caravel</label>
                </a>
              </li>
              <li class="cat-list__item">
                <a class="cat-list__link" href="">
                  <input id="brand-3" type="checkbox" name="Anex Sport" value="Anex Sport">
                  <label for="brand-3">Anex Sport</label>
                </a>
              </li>
              <li class="cat-list__item">
                <a class="cat-list__link" href="">
                  <input id="brand-4" type="checkbox" name="Adamex Barletta" value="Adamex Barletta">
                  <label for="brand-4">Adamex Barletta</label>
                </a>
              </li>
              <li class="cat-list__item">
                <a class="cat-list__link" href="">
                  <input id="brand-5" type="checkbox" name="Noordi Fjordi" value="Noordi Fjordi">
                  <label for="brand-5">Noordi Fjordi</label>
                </a>
              </li>
              <li class="cat-list__item">
                <a class="cat-list__link" href="">
                  <input id="brand-6" type="checkbox" name="Peg Perego" value="Peg Perego">
                  <label for="brand-6">Peg Perego</label>
                </a>
              </li>
              <li class="cat-list__item">
                <a class="cat-list__link" href="">
                  <input id="brand-7" type="checkbox" name="Reindeer" value="Reindeer">
                  <label for="brand-7">Reindeer</label>
                </a>
              </li>
              <li class="cat-list__item">
                <a class="cat-list__link" href="">
                  <input id="brand-8" type="checkbox" name="Inglesina Sofia" value="Inglesina Sofia">
                  <label for="brand-8">Inglesina Sofia</label>
                </a>
              </li>
              <li class="cat-list__item">
                <a class="cat-list__link" href="">
                  <input id="brand-9" type="checkbox" name="Capella" value="Capella">
                  <label for="brand-9">Capella</label>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="cat-products">
          <div class="product-item">
            <div class="product-item__tag">
              <span>
                -20%
                <div class="flag"></div>
              </span>
            </div>
            <a href="" class="product-item__img-cont">
              <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/popular/baby-carriage.jpg" alt="">
            </a>
            <h3 class="product-item__title">Bartollino Adbor</h3>
            <div class="product-item__rate">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="product-item__price">
              <span class="product-item__price-current">16 500 Р.</span>
              <span class="product-item__price-prev">16 500 Р.</span>
            </div>
            <button class="product-item__btn btn">в корзину</button>
          </div>
          <div class="product-item">
            <div class="product-item__tag">
              <span>
                3 в 1
                <div class="flag"></div>
              </span>
            </div>
            <a class="product-item__img-cont swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="product-item__img product-item__img--main" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-01.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-02.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-03.jpg" alt="">
                </div>
              </div>

              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

              <div class="swiper-pagination"></div>
            </a>
            <h3 class="product-item__title">Коляска Adamex Barletta 2 в 1</h3>
            <div class="product-item__rate">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <span class="product-item__price">
              24 200 Р.
            </span>
            <button class="product-item__btn btn">в корзину</button>
          </div>
          <div class="product-item">
            <div class="product-item__tag">
              <span class="green">
                2 в 1
                <div class="flag"></div>
              </span>
            </div>
            <a class="product-item__img-cont">
              <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-05.jpg" alt="">
            </a>
            <h3 class="product-item__title">Коляска 2 в 1 Noordi Fjordi</h3>
            <div class="product-item__rate">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <span class="product-item__price">
              36 400 Р.
            </span>
            <button class="product-item__btn btn">в корзину</button>
          </div>
          <div class="product-item">
            <a class="product-item__img-cont swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="product-item__img product-item__img--main" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-02.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="product-item__img product-item__img--dop" src="catalog/view/theme/fancy.shop/img/common/for-moms/product-img-05.jpg" alt="">
                </div>
              </div>

              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

              <div class="swiper-pagination"></div>
            </a>
            <h3 class="product-item__title">Коляска-трость Peg Perego Pliko Min</h3>
            <div class="product-item__rate">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="product-item__price">12 600 Р.</span>
            <button class="product-item__btn btn">в корзину</button>
          </div>
          <div class="product-item">
            <div class="product-item__tag">
              <span>
                -20%
                <div class="flag"></div>
              </span>
            </div>
            <a href="" class="product-item__img-cont">
              <img class="product-item__img" src="catalog/view/theme/fancy.shop/img/common/popular/baby-carriage.jpg" alt="">
            </a>
            <h3 class="product-item__title">Bartollino Adbor</h3>
            <div class="product-item__rate">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="product-item__price">
              <span class="product-item__price-current">16 500 Р.</span>
              <span class="product-item__price-prev">16 500 Р.</span>
            </div>
            <button class="product-item__btn btn">в корзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ content_bottom }}
</div>
{{ footer }}

<script>
$(document).ready(function() {
  $('.cat-list__title').on('click', function() {
    /* Act on the event */
    var $this   = $(this),
        catList = $this.parent().find('.cat-list')

    $this.toggleClass('cat-list__title--active');
    catList.toggleClass('cat-list--active');
  });
});
</script>
