<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}">
{% endif %}
<base href="{{ base }}">
{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}">
{% endif %}
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ og_url }}">
{% if og_image %}
<meta property="og:image" content="{{ og_image }}">
{% else %}
<meta property="og:image" content="{{ logo }}">
{% endif %}
<meta property="og:site_name" content="{{ name }}">
<link rel="stylesheet" href="catalog/view/theme/fancy.shop/css/fonts.css">
<link rel="stylesheet" href="catalog/view/theme/fancy.shop/css/libs.min.css">
<link rel="stylesheet" href="catalog/view/theme/fancy.shop/css/stylesheet.min.css">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}">
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>

<body>
  <header>
    <div class="header">
      <div class="header__cont">
        <div class="header__logo">
          {% if logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}">
            {% else %}
              <a href="{{ home }}">
                <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}">
              </a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>

        <div class="header__phone">
          <div class="header__phone-icon">
            <svg class="arrow" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.73291 3.88479V2.94513C2.73291 2.68586 2.62991 2.4372 2.44658 2.25387C2.26324 2.07054 2.01459 1.96754 1.75532 1.96754C1.49605 1.96754 1.24739 2.07054 1.06406 2.25387C0.880729 2.4372 0.777734 2.68586 0.777734 2.94513V6.24471C0.777734 6.50399 0.880729 6.75264 1.06406 6.93597C1.2474 7.11931 1.49605 7.2223 1.75532 7.2223H5.20635C5.46562 7.2223 5.71428 7.11931 5.89761 6.93597C6.08094 6.75264 6.18394 6.50399 6.18394 6.24471C6.18394 5.98544 6.08094 5.73679 5.89761 5.55346C5.71428 5.37012 5.46562 5.26713 5.20635 5.26713H4.11525L7.3259 2.05647C7.41667 1.96571 7.48867 1.85795 7.53779 1.73936L7.39921 1.68196L7.53779 1.73936C7.58691 1.62077 7.6122 1.49367 7.6122 1.3653C7.6122 1.23694 7.58691 1.10984 7.53779 0.991245L7.40208 1.04746L7.53779 0.991244C7.48867 0.872654 7.41667 0.764899 7.3259 0.674133C7.23514 0.583368 7.12738 0.511369 7.00879 0.462247C6.8902 0.413125 6.7631 0.387842 6.63473 0.387842C6.50637 0.387842 6.37927 0.413125 6.26067 0.462247C6.14208 0.511369 6.03433 0.583368 5.94356 0.674133L6.04963 0.7802L5.94356 0.674134L2.73291 3.88479Z" fill="#000000" stroke="#000000" stroke-width="0.3"/>
            </svg>

            <svg class="phone" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="-0.174377" y="-0.196045" width="24" height="24" fill="black">
            <rect fill="white" x="-0.174377" y="-0.196045" width="24" height="24"/>
            <path d="M17.5464 23.1907C16.6332 23.1912 15.7357 22.953 14.9429 22.4997L14.8237 22.431C9.61132 19.4485 5.25047 15.1796 2.15748 10.0321L1.56658 9.04807C0.969887 8.05474 0.722797 6.89028 0.86468 5.74022C1.00656 4.59017 1.52925 3.52067 2.34948 2.70214L3.52631 1.52532C3.98873 1.06341 4.6156 0.803955 5.2692 0.803955C5.9228 0.803955 6.54967 1.06341 7.0121 1.52532L9.60658 4.1198C9.98603 4.50081 10.2308 4.9952 10.3039 5.52795C10.3769 6.06069 10.2742 6.60272 10.0113 7.0718L9.03638 8.80311C9.00845 8.85344 8.99763 8.91148 9.00554 8.9685C9.01345 9.02551 9.03966 9.07842 9.08024 9.11925L14.856 14.895C14.8969 14.9357 14.9499 14.9621 15.0071 14.97C15.0643 14.9779 15.1225 14.967 15.1729 14.9388L16.9026 13.9639H16.9034C17.3725 13.701 17.9145 13.5983 18.4473 13.6713C18.98 13.7444 19.4744 13.9892 19.8554 14.3686L22.4515 16.9639C22.9131 17.4266 23.1722 18.0534 23.1722 18.7068C23.1722 19.3603 22.9131 19.9871 22.4515 20.4497L21.2218 21.6795C20.245 22.65 18.9233 23.1934 17.5464 23.1907ZM5.2692 2.45883C5.16287 2.45869 5.05755 2.47952 4.95928 2.52014C4.86101 2.56075 4.77172 2.62035 4.69651 2.69552L3.51968 3.87235C2.96098 4.43023 2.60499 5.159 2.50841 5.94262C2.41182 6.72624 2.5802 7.51964 2.98672 8.19649L3.57762 9.18049C6.52498 14.086 10.6807 18.1539 15.648 20.9959L15.7671 21.0646C17.1616 21.8616 18.9235 21.634 20.0507 20.5085L21.2805 19.2787C21.4323 19.1268 21.5176 18.9208 21.5176 18.706C21.5176 18.4912 21.4323 18.2852 21.2805 18.1333L18.6844 15.538C18.5593 15.4132 18.3969 15.3326 18.2218 15.3085C18.0467 15.2845 17.8686 15.3183 17.7144 15.4048L15.984 16.3797C15.6185 16.5841 15.1965 16.6639 14.7816 16.607C14.3668 16.5501 13.9818 16.3596 13.6849 16.0643L7.9092 10.2886C7.61379 9.992 7.42318 9.60713 7.36628 9.19238C7.30937 8.77763 7.38928 8.35564 7.59389 7.99042L8.56879 6.25911C8.65488 6.10489 8.68845 5.92684 8.66441 5.75186C8.64037 5.57687 8.56004 5.41447 8.43555 5.28918L5.84189 2.69552C5.76671 2.62031 5.67742 2.56069 5.57915 2.52007C5.48087 2.47946 5.37554 2.45864 5.2692 2.45883Z"/>
            </mask>
            <path d="M17.5464 23.1907C16.6332 23.1912 15.7357 22.953 14.9429 22.4997L14.8237 22.431C9.61132 19.4485 5.25047 15.1796 2.15748 10.0321L1.56658 9.04807C0.969887 8.05474 0.722797 6.89028 0.86468 5.74022C1.00656 4.59017 1.52925 3.52067 2.34948 2.70214L3.52631 1.52532C3.98873 1.06341 4.6156 0.803955 5.2692 0.803955C5.9228 0.803955 6.54967 1.06341 7.0121 1.52532L9.60658 4.1198C9.98603 4.50081 10.2308 4.9952 10.3039 5.52795C10.3769 6.06069 10.2742 6.60272 10.0113 7.0718L9.03638 8.80311C9.00845 8.85344 8.99763 8.91148 9.00554 8.9685C9.01345 9.02551 9.03966 9.07842 9.08024 9.11925L14.856 14.895C14.8969 14.9357 14.9499 14.9621 15.0071 14.97C15.0643 14.9779 15.1225 14.967 15.1729 14.9388L16.9026 13.9639H16.9034C17.3725 13.701 17.9145 13.5983 18.4473 13.6713C18.98 13.7444 19.4744 13.9892 19.8554 14.3686L22.4515 16.9639C22.9131 17.4266 23.1722 18.0534 23.1722 18.7068C23.1722 19.3603 22.9131 19.9871 22.4515 20.4497L21.2218 21.6795C20.245 22.65 18.9233 23.1934 17.5464 23.1907ZM5.2692 2.45883C5.16287 2.45869 5.05755 2.47952 4.95928 2.52014C4.86101 2.56075 4.77172 2.62035 4.69651 2.69552L3.51968 3.87235C2.96098 4.43023 2.60499 5.159 2.50841 5.94262C2.41182 6.72624 2.5802 7.51964 2.98672 8.19649L3.57762 9.18049C6.52498 14.086 10.6807 18.1539 15.648 20.9959L15.7671 21.0646C17.1616 21.8616 18.9235 21.634 20.0507 20.5085L21.2805 19.2787C21.4323 19.1268 21.5176 18.9208 21.5176 18.706C21.5176 18.4912 21.4323 18.2852 21.2805 18.1333L18.6844 15.538C18.5593 15.4132 18.3969 15.3326 18.2218 15.3085C18.0467 15.2845 17.8686 15.3183 17.7144 15.4048L15.984 16.3797C15.6185 16.5841 15.1965 16.6639 14.7816 16.607C14.3668 16.5501 13.9818 16.3596 13.6849 16.0643L7.9092 10.2886C7.61379 9.992 7.42318 9.60713 7.36628 9.19238C7.30937 8.77763 7.38928 8.35564 7.59389 7.99042L8.56879 6.25911C8.65488 6.10489 8.68845 5.92684 8.66441 5.75186C8.64037 5.57687 8.56004 5.41447 8.43555 5.28918L5.84189 2.69552C5.76671 2.62031 5.67742 2.56069 5.57915 2.52007C5.48087 2.47946 5.37554 2.45864 5.2692 2.45883Z" fill="#000000"/>
            <path d="M17.5464 23.1907C16.6332 23.1912 15.7357 22.953 14.9429 22.4997L14.8237 22.431C9.61132 19.4485 5.25047 15.1796 2.15748 10.0321L1.56658 9.04807C0.969887 8.05474 0.722797 6.89028 0.86468 5.74022C1.00656 4.59017 1.52925 3.52067 2.34948 2.70214L3.52631 1.52532C3.98873 1.06341 4.6156 0.803955 5.2692 0.803955C5.9228 0.803955 6.54967 1.06341 7.0121 1.52532L9.60658 4.1198C9.98603 4.50081 10.2308 4.9952 10.3039 5.52795C10.3769 6.06069 10.2742 6.60272 10.0113 7.0718L9.03638 8.80311C9.00845 8.85344 8.99763 8.91148 9.00554 8.9685C9.01345 9.02551 9.03966 9.07842 9.08024 9.11925L14.856 14.895C14.8969 14.9357 14.9499 14.9621 15.0071 14.97C15.0643 14.9779 15.1225 14.967 15.1729 14.9388L16.9026 13.9639H16.9034C17.3725 13.701 17.9145 13.5983 18.4473 13.6713C18.98 13.7444 19.4744 13.9892 19.8554 14.3686L22.4515 16.9639C22.9131 17.4266 23.1722 18.0534 23.1722 18.7068C23.1722 19.3603 22.9131 19.9871 22.4515 20.4497L21.2218 21.6795C20.245 22.65 18.9233 23.1934 17.5464 23.1907ZM5.2692 2.45883C5.16287 2.45869 5.05755 2.47952 4.95928 2.52014C4.86101 2.56075 4.77172 2.62035 4.69651 2.69552L3.51968 3.87235C2.96098 4.43023 2.60499 5.159 2.50841 5.94262C2.41182 6.72624 2.5802 7.51964 2.98672 8.19649L3.57762 9.18049C6.52498 14.086 10.6807 18.1539 15.648 20.9959L15.7671 21.0646C17.1616 21.8616 18.9235 21.634 20.0507 20.5085L21.2805 19.2787C21.4323 19.1268 21.5176 18.9208 21.5176 18.706C21.5176 18.4912 21.4323 18.2852 21.2805 18.1333L18.6844 15.538C18.5593 15.4132 18.3969 15.3326 18.2218 15.3085C18.0467 15.2845 17.8686 15.3183 17.7144 15.4048L15.984 16.3797C15.6185 16.5841 15.1965 16.6639 14.7816 16.607C14.3668 16.5501 13.9818 16.3596 13.6849 16.0643L7.9092 10.2886C7.61379 9.992 7.42318 9.60713 7.36628 9.19238C7.30937 8.77763 7.38928 8.35564 7.59389 7.99042L8.56879 6.25911C8.65488 6.10489 8.68845 5.92684 8.66441 5.75186C8.64037 5.57687 8.56004 5.41447 8.43555 5.28918L5.84189 2.69552C5.76671 2.62031 5.67742 2.56069 5.57915 2.52007C5.48087 2.47946 5.37554 2.45864 5.2692 2.45883Z" stroke="#000000" stroke-width="0.6" mask="url(#path-1-outside-1)"/>
            </svg>
          </div>

          <div class="header__phone__num" href="{{ contact }}">
            <span>{{ telephone }}</span>
            <span class="accent-text">заказать звонок</span>
          </div>
        </div>

        <button class="btn-cat">
          <div class="btn-cat__icon">
            <i class="icon list-icon"></i>
          </div>
          <span>каталог</span>
        </button>

        {{ menu }}

        <div class="header__search">
          <input class="header__search__input" type="search" placeholder="Поиск товаров"></input>
          <button class="btn-search" type="submit">
            <i class="icon search-icon"></i>
          </button>
        </div>

        <div class="header__nav">
          <a class="header__nav__item header__nav__auth">
            <i class="icon auth-icon"></i>
            <span>войти</span>
          </a>

          <a class="header__nav__item header__nav__fav">
            <i class="icon fav-icon"></i>
            <span>избранное</span>
          </a>

          <a class="header__nav__item header__nav__cart">
            <i class="icon cart-icon"></i>
            <span>корзина</span>
          </a>
        </div>
      </div>
    </div>

    <div class="header-bottom">
      <div class="header-bottom__cont">
        <nav class="header-bottom__nav">
          <ul class="header-bottom__list">
            <li class="header-bottom__list__item">
              <a class="header-bottom__list__link" href="#">Доставка</a>
            </li>
            <li class="header-bottom__list__item">
              <a class="header-bottom__list__link" href="#">Гарантия</a>
            </li>
            <li class="header-bottom__list__item">
              <a class="header-bottom__list__link" href="#">О нас</a>
            </li>
            <li class="header-bottom__list__item">
              <a class="header-bottom__list__link" href="#">Контакты</a>
            </li>
          </ul>
        </nav>

        <div class="header-bottom__social">
          <div class="header-bottom__overlay"></div>

          <div class="header-bottom__links">
            <a href="" class="header-bottom__link">
              <i class="fab fa-instagram"></i>
            </a>

            <a href="" class="header-bottom__link">
              <i class="fab fa-vk"></i>
            </a>

            <a href="" class="header-bottom__link">
              <i class="fab fa-twitter"></i>
            </a>
          </div>

          <p class="header-bottom__p">подпишитесь на нас, выигрывайте подарки</p>
        </div>

        <div class="header-bottom__auth">
          <i class="fad fa-sign-in"></i>
          <a href="">вход</a>/
          <a href="">регистрация</a>
        </div>

        <div class="header__search header__search--mobile">
          <input class="header__search__input" type="search" placeholder="Поиск товаров"></input>
          <button class="btn-search" type="submit">
            <i class="icon search-icon"></i>
          </button>
        </div>
      </div>
    </div>
  </header>